[Desktop Entry]
Type=Service
Icon=server-database
Name=SQLite Storage
Name[bs]=SQLite Storage
Name[ca]=Emmagatzematge SQLite
Name[ca@valencia]=Emmagatzematge SQLite
Name[cs]=Úložiště SQLite
Name[da]=SQLite-lagring
Name[de]=SQLite-Speicher
Name[el]=Αποθηκευτικό μέσο SQLite
Name[en_GB]=SQLite Storage
Name[es]=Almacenamiento SQLite
Name[et]=SQLite salvesti
Name[fi]=SQLite-tallennus
Name[fr]=Stockage SQLite
Name[gl]=Almacenamento SQLite
Name[id]=Penyimpanan SQLite
Name[it]=Archiviazione SQLite
Name[ko]=SQLite 저장소
Name[nl]=SQLite-opslag
Name[pl]=Przechowalnia SQLite
Name[pt]=Armazenamento no SQLite
Name[pt_BR]=Armazenamento SQLite
Name[sk]=SQLite úložisko
Name[sl]=Shramba SQLite
Name[sr]=Складиште над МајСКуЛe‑ом
Name[sr@ijekavian]=Складиште над МајСКуЛe‑ом
Name[sr@ijekavianlatin]=Skladište nad SQLite‑om
Name[sr@latin]=Skladište nad SQLite‑om
Name[sv]=SQLite-lagring
Name[tr]=SQLite Depolaması
Name[uk]=Сховище даних SQLite
Name[x-test]=xxSQLite Storagexx
Name[zh_TW]=SQLite 儲存空間
Comment=Storage plugin for Amarok
Comment[bs]=Priključak za Amarok
Comment[ca]=Connector d'emmagatzematge per l'Amarok
Comment[ca@valencia]=Connector d'emmagatzematge per l'Amarok
Comment[cs]=Modul úložiště pro AmaroK
Comment[da]=Lagrings-plugin til Amarok
Comment[de]=Speicher-Modul für Amarok
Comment[el]=Πρόσθετο αποθηκευτικού μέσου για το AmaroK
Comment[en_GB]=Storage plugin for Amarok
Comment[es]=Complemento de almacenamiento para Amarok
Comment[et]=Amaroki salvestiplugin
Comment[fi]=Amarokin tallennusliitännäinen
Comment[fr]=Module de stockage pour Amarok
Comment[gl]=Complemento de almacenamento para Amarok
Comment[id]=Plugin penyimpanan untuk Amarok
Comment[it]=Estensione di archiviazione per Amarok
Comment[ko]=Amarok용 저장소 플러그인
Comment[nl]=Opslag-plug-in voor Amarok
Comment[pl]=Wtyczka przechowywania dla Amaroka
Comment[pt]='Plugin' de armazenamento do Amarok
Comment[pt_BR]=Plugin de armazenamento para o Amarok
Comment[sk]=Úložný modul pre Amarok
Comment[sl]=Vstavek shrambe za Amarok
Comment[sr]=Складишни прикључак за Амарок
Comment[sr@ijekavian]=Складишни прикључак за Амарок
Comment[sr@ijekavianlatin]=Skladišni priključak za Amarok
Comment[sr@latin]=Skladišni priključak za Amarok
Comment[sv]=Lagringsinsticksprogram för Amarok
Comment[tr]=Amarok için depolama eklentisi
Comment[uk]=Додаток сховища даних для Amarok
Comment[x-test]=xxStorage plugin for Amarokxx
Comment[zh_TW]=Amarok 的裝置外掛程式
NoDisplay=true

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Ralf Engels
X-KDE-Amarok-email=ralf-engels@gmx.de
X-KDE-Amarok-framework-version=73
X-KDE-Amarok-name=sqlite-storage
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-vital=true

X-KDE-PluginInfo-Author=Ralf Engels
X-KDE-PluginInfo-Email=ralf.engels@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Storage
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=amarok_storage-sqlitestorage
X-KDE-Library=amarok_storage-sqlitestorage
